
.pk-form {
  &__info {
    @include rem(font-size, 14px);
    color: $color-grey;
    text-align: center;
  }

  &__hint {
    @include rem(font-size, 13px);
    color: $color-grey;
  }

  &__error {
    @include rem(margin-bottom, 5px);
    @include rem(font-size, 14px);
    @include font-weight(bold);
    color: $color-red-orange;
  }
}
