
@import '../../../assets/scss/settings/_config-base';

@keyframes grow {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes slideDown {
  0% { transform: translateY(-50%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes rotate {
  0% { transform: rotateY(0deg) }
  100% { transform: rotateY(360deg) }
}

.pk-login__heading {
  @include rem(margin-bottom, 30px);

  &--icon {
    @include rem(margin, 0 auto 10px);
    perspective: 1000;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    animation: grow 500ms linear forwards 500ms;
    
    img {
      @include rem(max-width, 80px);
      transition: max-width $transition-duration $transition-function;

      @include mq('xs', max) {
        @include rem(max-width, 60px);
      }

      &.is--loading {
        animation: rotate 1s infinite;
      }
    }
  }

  &--name {
    @include rem(margin, 0 auto 10px);
    text-align: center;
    opacity: 0;
    transform: translateY(0);
    animation: slideDown 1s linear forwards 1.3s;

    img {
      @include rem(max-height, 16px);
    }
  }
}
