/**
 * Colors
 */
$color-china-ivory    : #fff3cd;
$color-orange-peel    : #ffa000;
$color-golden-brown   : #856404;

$color-pale-pink      : #f8d7da;
$color-red-orange     : #f44336;
$color-persian-red    : #d32f2f;
$color-red-berry      : #721c24;

$color-oyster-bay     : #D1ECF1;
$color-navy-blue      : #1976d2;
$color-mosque         : #0c5460;

$color-swans-down     : #d4eddA;
$color-fruit-salad    : #43a047;
$color-crusoe         : #155724;
$color-dark-cyan      : #009688;

$color-white          : #ffffff;
$color-whisper        : #eeeeee;
$color-white-ice      : #ebeef1;
$color-solitude       : #e2e3e5;
$color-light-grey     : #dddddd;
$color-grey           : #757575;
$color-bismark        : #546e7a;
$color-baltic-sea     : #383d41;
$color-night-rider    : #303030;
$color-black          : #000000;

$color-primary        : $color-dark-cyan;
$color-secondary      : $color-bismark;
